<div id="side-dishes" class="food-category">
    <h2>Side Dishes</h2>
    <div class="food-item">
        <img src="{% static 'images/chicken65.jpg' %}" alt="Food" class="food-img">
        <div class="food-details">
            <h3 class="food-name">Chicken</h3>
            <p class="food-type">
                <img src="{% static 'images/nonveglogo.png' %}" alt="Non-Veg" class="non-veg-logo">
            </p>
            <p class="food-price">₹99</p>
        </div>
    </div>
    <div class="food-item">
        <img src="{% static 'images/pannertikka.jpg' %}" alt="Food" class="food-img">
        <div class="food-details">
            <h3 class="food-name">Panner</h3>
            <p class="food-type">
                <img src="{% static 'images/veglogo.png' %}" alt="Veg" class="veg-logo">
            </p>
            <p class="food-price">₹89</p>
        </div>
    </div>
</div>

<!--

Burger, sandwich
shawarma, wraps

-->